<!--The content below is only a placeholder and can be replaced.-->
<div class="demo-toolbar">
  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>

      <span>Default Toolbar</span>
      <span class="demo-fill-remaining"></span>

      <button mat-button>Text</button>
      <button mat-icon-button>
        <mat-icon>code</mat-icon>
      </button>

      <button mat-icon-button color="warn">
        <mat-icon>code</mat-icon>
      </button>
    </mat-toolbar>
  </p>
</div>
<ul>
  <li>
    <h5>
      <a routerLink="/home">Home</a>
    </h5>
  </li>
  <li>
    <h5>
      <a routerLink="/profile">Profile</a>
    </h5>
  </li>
</ul>
<mat-checkbox class="example-margin">Checked</mat-checkbox>
<router-outlet></router-outlet>